In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.ensemble import RandomForestClassifier

# Make prediction of wins based on hero decisions

Plan: Create a vector of 226 dimensions (113 hero_ids, x2) for each match. First 113 is for radiant picks, last 113 is for dire picks.

$$v \in \mathbb{R}^{226}$$
Then use logistic regression/random forest to predict 1 (radiant win) or 0 (radiant loss)

inspired by Devin's notebook: https://www.kaggle.com/devinanzelmo/setting-up-a-prediction-problem-dota-2

In [6]:
# this is meant to be a simple example so only matches and players are used
dir_head = '/tmp/git/Dota-Science/kaggle/data/'

matches = pd.read_csv(dir_head+'match.csv', index_col=0)
players = pd.read_csv(dir_head+'players.csv')

test_labels = pd.read_csv(dir_head+'test_labels.csv', index_col=0)
test_players = pd.read_csv(dir_head+'test_player.csv')

train_labels = matches['radiant_win'].astype(int)

match_outcomes = pd.read_csv(dir_head+'match_outcomes.csv')
match = pd.read_csv(dir_head+'match.csv')

In [7]:
!ls kaggle/data

In [8]:
def unstack_simplify(df):
    return df.unstack().iloc[20:30].reset_index(drop=True)

# Data description

match.csv: match_id and radiant_win 

players.csv: match_id, hero_id, player_slot(0-4 is radiant, 128-132 is dire)

test_labels: radiant_wins for match_ids

test_players: Match_id, hero_id

goal:
from team composition, decide if radiant team won or lost

hero names: hero_id 24 is missing

In [54]:
pd.read_csv('kaggle/data/hero_names.csv').head()

                           name  hero_id  localized_name
0        npc_dota_hero_antimage        1       Anti-Mage
1             npc_dota_hero_axe        2             Axe
2            npc_dota_hero_bane        3            Bane
3     npc_dota_hero_bloodseeker        4     Bloodseeker
4  npc_dota_hero_crystal_maiden        5  Crystal Maiden

In [55]:
matches.head()

,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,game_mode,radiant_win,negative_votes,positive_votes,cluster
match_id,,,,,,,,,,,,
0,1446750112,2375,1982,4,3,63,1,22,True,0,1,155
1,1446753078,2582,0,1846,63,0,221,22,False,0,2,154
2,1446764586,2716,256,1972,63,48,190,22,False,0,0,132
3,1446765723,3085,4,1924,51,3,40,22,False,0,0,191
4,1446796385,1887,2047,0,0,63,58,22,True,0,0,156

In [56]:
test_players.head(11)

    match_id  account_id  hero_id  player_slot
0      50000      117784       96            0
1      50000      158361       84            1
2      50000      158362       46            2
3      50000      137970       85            3
4      50000        1090       39            4
5      50000        2391        9          128
6      50000        2393       75          129
7      50000        2394      106          130
8      50000       36737       74          131
9      50000        2392       62          132
10     50001       32932       44            0

In [57]:
#finding out how to get wins for specific match
test_labels.loc[80000]

radiant_win    1
Name: 80000, dtype: int64

In [9]:
# ##Takes a bit of time so save it to csv for later use
# ## Split data into train/test

match_hero_picks = test_players.groupby('match_id').apply(unstack_simplify)

train_hero_picks, test_hero_picks = train_test_split(match_hero_picks, test_size=0.4)
train_hero_picks.to_csv('match_hero_picks.csv')
test_hero_picks.to_csv('test_matches.csv')

NameError: name 'test_players' is not defined

In [59]:
##Load in train/test data. 

train_hero_picks=pd.read_csv('match_hero_picks.csv')
test_matches=pd.read_csv('test_matches.csv')
train_hero_picks.head()

   match_id   0    1    2    3    4    5    6    7    8   9
0    108695  30  109   20   98   73   99   68   48   19  59
1    141663  26   85   11   36   99   27   51  106   59  50
2     66631   6   86  102  104   59  110  112   11   98  73
3     58423  42   90   28  104   21   31  107   93  106  84
4     54286  60   30   46   72  112  104   43   54    3  71

In [60]:
train_hero_picks.describe()

,match_id,0,1,2,3,4,5,6,7,8,9
count,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000
mean,99998.454800,50.608633,51.099783,50.824983,50.869367,50.915483,50.784667,51.003367,51.252167,51.072533,51.052850
std,28841.412276,33.151886,33.320256,33.186439,33.271302,33.232199,33.248358,33.140799,33.136130,33.237497,33.256578
min,50000.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,75049.750000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000
50%,100074.500000,47.000000,49.000000,48.000000,48.000000,48.000000,48.000000,48.000000,49.000000,49.000000,48.000000
75%,124903.250000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000
max,149999.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000

Create the hero pick vector and a binary vector of radiant win/loss for those matches

In [61]:
#index 0-112 is radiant heroes, 113-225 is dire
feature_list = []

#for radiant wins/loss
outcome = []

for row in train_hero_picks.iterrows():
    vec = [0]*226
    
    #get match id to create list of win/loss
    match_id = row[1]['match_id']
    outcome.append(test_labels.loc[match_id].values[0])
    
    #create the vector of length 226 and populate accordingly
    radiant_hero_picks = row[1][1:6]
    dire_hero_picks = row[1][6:11]
    
    for value in radiant_hero_picks.values:
        vec[value-1] = 1
        
    for value in dire_hero_picks.values:
        vec[value+112] = 1
        
    feature_list.append(vec)
        
feature_df = pd.DataFrame(feature_list)

In [62]:
#check sizes and save data

print feature_df.shape, len(outcome)
feature_df.to_csv('hero_picks.csv')

(60000, 226) 60000

# Create Logistic Regression Model

In [63]:
#create model and train
logreg = linear_model.LogisticRegression()
logreg.fit(feature_df, outcome)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [64]:
#check accuracy on train data
predictions = np.array(logreg.predict(feature_df))
train_true_values = np.array(outcome)
error = np.mean(predictions != train_true_values)
print 'training error is: ', error

training error is:  0.398233333333

In [65]:
#use the model to test

#create the feature vect

#index 0-112 is radiant heroes, 113-225 is dire
test_feature_list = []
test_outcome = []
test_hero_picks.reset_index(inplace=True)
for row in test_hero_picks.iterrows():
    vec = [0]*226
    
    #get match id to create list of win/loss
    match_id = row[1]['match_id']
    test_outcome.append(test_labels.loc[match_id].values[0])
    
    #create the vector of length 226 and populate accordingly
    radiant_hero_picks = row[1][1:6]
    dire_hero_picks = row[1][6:11]
    
    for value in radiant_hero_picks.values:
        vec[value-1] = 1
        
    for value in dire_hero_picks.values:
        vec[value+112] = 1
        
    test_feature_list.append(vec)

test_feature_df = pd.DataFrame(test_feature_list)

In [72]:
#check accuracy on test data
test_predictions = np.array(logreg.predict(test_feature_df))
test_true_values = np.array(test_outcome)
error = np.mean(test_predictions != test_true_values)
print 'testing error is', error

testing error is 0.402575

# Try Random Forests

In [84]:
rfc = RandomForestClassifier(n_estimators=10, max_depth=10)
rfc.fit(feature_df, outcome)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [85]:
#check accuracy on train data
f_predictions = np.array(rfc.predict(feature_df))
f_true_values = np.array(outcome)
error = np.mean(f_predictions != f_true_values)
print 'training error is: ', error

training error is:  0.400116666667

In [87]:
#check accuracy on test data
f_test_predictions = np.array(rfc.predict(test_feature_df))
f_test_true_values = np.array(test_outcome)
error = np.mean(f_test_predictions != f_test_true_values)
print 'testing error is: ', error

testing error is:  0.43945

# Conclusion

Just by hero selection, regular logistic regression obtains an accuracy rate of about 60% on training and testing (60/40 split).  There was a < 1% difference in accuracy with a 70/30 split, and varying parameter changes in logistic regression did not make any difference.  

When trying with random forests, saw that the default model over fit (< 1% training set error) and a > 47% error on test set).  Even after tuning a bit, saw that there was not much improvement in the testing error. 

Seems random forests tend to overfit on this dataset unless parameters are specified, probably due to the size and simplicity of the data.