In [11]:
import pandas as pd
import numpy as np
from sklearn import ensemble 
from sklearn import metrics

# this is meant to be a simple example so only matches and players are used
matches = pd.read_csv('./data/match.csv', index_col=0)
players = pd.read_csv('./data/players.csv')

test_labels = pd.read_csv('./data/test_labels.csv', index_col=0)
test_players = pd.read_csv('data/test_player.csv')

train_labels = matches['radiant_win'].astype(int)

# Predicting Match Outcome

In [12]:
matches.head()

,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,game_mode,radiant_win,negative_votes,positive_votes,cluster
match_id,,,,,,,,,,,,
0,1446750112,2375,1982,4,3,63,1,22,True,0,1,155
1,1446753078,2582,0,1846,63,0,221,22,False,0,2,154
2,1446764586,2716,256,1972,63,48,190,22,False,0,0,132
3,1446765723,3085,4,1924,51,3,40,22,False,0,0,191
4,1446796385,1887,2047,0,0,63,58,22,True,0,0,156

In [94]:
players.head(15)

,match_id,account_id,hero_id,player_slot,gold,gold_spent,gold_per_min,xp_per_min,kills,deaths,...,unit_order_glyph,unit_order_eject_item_from_stash,unit_order_cast_rune,unit_order_ping_ability,unit_order_move_to_direction,unit_order_patrol,unit_order_vector_target_position,unit_order_radar,unit_order_set_item_combine_lock,unit_order_continue
0,0,0,86,0,3261,10960,347,362,9,3,...,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN
1,0,1,51,1,2954,17760,494,659,13,3,...,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,83,2,110,12195,350,385,0,4,...,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN
3,0,2,11,3,1179,22505,599,605,8,4,...,1.0,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN
4,0,3,67,4,3307,23825,613,762,20,3,...,3.0,NaN,NaN,23.0,NaN,NaN,NaN,NaN,NaN,NaN
5,0,4,106,128,476,12285,397,524,5,6,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
6,0,0,102,129,317,10355,303,369,4,13,...,4.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
7,0,5,46,130,2390,13395,452,517,4,8,...,NaN,NaN,NaN,4.0,110.0,NaN,NaN,NaN,NaN,NaN
8,0,0,7,131,475,5035,189,223,1,14,...,1.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
9,0,6,73,132,60,17550,496,456,1,11,...,1.0,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN
10,1,0,7,0,76,12160,218,206,3,4,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1,7,82,1,9,19625,581,756,9,10,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
12,1,0,71,2,1240,10220,339,352,5,13,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
13,1,8,39,3,2400,14395,460,544,12,15,...,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
14,1,4,21,4,1051,12910,365,436,6,11,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#choose features to use
feature_columns = players.iloc[:3,4:17].columns.tolist()
feature_columns

['gold',
 'gold_spent',
 'gold_per_min',
 'xp_per_min',
 'kills',
 'deaths',
 'assists',
 'denies',
 'last_hits',
 'stuns',
 'hero_damage',
 'hero_healing',
 'tower_damage']

In [18]:
#get mean of each account to 'estimate' the average performance

player_groups = players.groupby('account_id')
feature_components = player_groups[feature_columns].mean()
feature_components.head()

,gold,gold_spent,gold_per_min,xp_per_min,kills,deaths,assists,denies,last_hits,hero_damage,hero_healing,tower_damage
account_id,,,,,,,,,,,,
0,1800.798735,13955.154883,407.672621,447.691653,7.436487,8.029696,11.644845,4.403066,124.977535,12227.711667,427.988298,1232.203666
1,8642.500000,21200.000000,627.500000,667.500000,20.500000,1.500000,13.500000,8.000000,242.000000,31304.500000,0.000000,2256.000000
2,1756.333333,20576.666667,537.666667,520.000000,10.000000,7.333333,16.666667,2.333333,277.000000,14060.666667,1066.666667,3525.666667
3,3307.000000,23825.000000,613.000000,762.000000,20.000000,3.000000,17.000000,13.000000,245.000000,33740.000000,243.000000,1833.000000
4,763.500000,12597.500000,381.000000,480.000000,5.500000,8.500000,10.000000,6.000000,146.500000,11819.000000,0.000000,324.500000

In [19]:
# now to construct match_level features from the components
# account_id is needed to join with feature_components
train_ids = players[['match_id','account_id']]
test_ids = test_players[['match_id','account_id']]

In [31]:
#create dataframes for each match_id, account_id with the player's
#average performance

train_feat_comp = pd.merge(train_ids, feature_components,
                           how='left', left_on='account_id' ,
                           right_index=True).drop('account_id',axis=1)

test_feat_comp = pd.merge(test_ids, feature_components, 
                          how='left', left_on='account_id',
                          right_index=True)\
                          .drop('account_id', axis=1)

In [34]:
train_feat_comp.head(5)

,match_id,gold,gold_spent,gold_per_min,xp_per_min,kills,deaths,assists,denies,last_hits,hero_damage,hero_healing,tower_damage
0,0,1800.798735,13955.154883,407.672621,447.691653,7.436487,8.029696,11.644845,4.403066,124.977535,12227.711667,427.988298,1232.203666
1,0,8642.500000,21200.000000,627.500000,667.500000,20.500000,1.500000,13.500000,8.000000,242.000000,31304.500000,0.000000,2256.000000
2,0,1800.798735,13955.154883,407.672621,447.691653,7.436487,8.029696,11.644845,4.403066,124.977535,12227.711667,427.988298,1232.203666
3,0,1756.333333,20576.666667,537.666667,520.000000,10.000000,7.333333,16.666667,2.333333,277.000000,14060.666667,1066.666667,3525.666667
4,0,3307.000000,23825.000000,613.000000,762.000000,20.000000,3.000000,17.000000,13.000000,245.000000,33740.000000,243.000000,1833.000000

In [74]:
# creates series of data per matchids
#
# unstack: each match_id will become a row
# iloc: Remove redundant match_ids
# rest_index: make match_id the index and reshapes 
def unstack_simplify(df):
    return df.unstack().iloc[10:].reset_index(drop=True)
def unstack_simplify2(df):
    return df.unstack().iloc[10:]

In [86]:
test_feat_group = test_feat_comp.groupby('match_id')

test_feats = test_feat_group.apply(unstack_simplify)
test_feats, test_feats.shape

(                  0            1            2            3            4    \
 match_id
 50000      623.500000          NaN          NaN  6420.000000  1588.250000
 50001     2250.222222  1800.798735  1800.798735          NaN  2358.000000
 50002     1133.000000          NaN  2587.272727  2935.000000  1800.798735
 50003             NaN  1800.798735  1800.798735  2002.140351    77.000000
 50004     1800.798735  2944.500000  1800.798735  1800.798735  1800.798735
 50005     1855.000000  1467.500000  1562.272727  3322.307692  1800.798735
 50006     1800.798735   462.000000  1800.798735  1851.666667  2702.000000
 50007             NaN  1828.312500          NaN  1800.798735  1800.798735
 50008     2821.000000  4128.500000  1800.798735  2226.714286          NaN
 50009      956.000000  1073.500000          NaN  3673.500000  1910.741935
 50010      916.000000  1800.798735  1800.798735  1800.798735  3861.000000
 50011       84.000000  1800.798735   310.000000  2535.000000  1800.798735
 50012     1800.798735  1800.798735  1800.798735  1800.798735          NaN
 50013             NaN  2117.000000   686.000000  5607.000000  1117.000000
 50014             NaN   994.000000  1629.500000  1787.333333  1976.000000
 50015     1800.798735  1800.798735  1130.000000  1800.798735  1800.798735
 50016     1800.798735  1800.798735  1940.666667   497.000000          NaN
 50017     1800.798735  1715.214286  1800.798735  1800.798735  1800.798735
 50018             NaN  1800.798735          NaN  1800.798735  2467.500000
 50019     1800.798735  1800.798735  1800.798735          NaN  1800.798735
 50020     1800.798735          NaN          NaN  1800.798735  1800.798735
 50021     1800.798735  1800.798735          NaN          NaN          NaN
 50022     2421.333333   976.333333  1373.962963  1897.500000  3773.000000
 50023     1800.798735  1743.200000  2677.750000  1800.798735  2271.833333
 50024     1800.798735  1800.798735  1800.798735  3402.785714  1490.428571
 50025     1800.798735  1800.798735  1800.798735  1800.798735  1734.000000
 50026     2425.250000  1531.636364  1800.798735  1800.798735  2539.023256
 50027             NaN          NaN  1800.798735  1800.798735  1800.798735
 50028             NaN  2679.285714  1800.798735          NaN  1800.798735
 50029             NaN    81.000000          NaN          NaN  1800.798735
 ...               ...          ...          ...          ...          ...
 149970    1610.761905  2385.125000  1800.798735  3332.571429  1350.000000
 149971    1800.798735  1800.798735  1800.798735          NaN          NaN
 149972    2147.000000  2595.000000  5672.000000  2010.800000          NaN
 149973            NaN  1800.798735  1800.798735  1800.798735  1800.798735
 149974    1800.798735  1800.798735  1800.798735  1800.798735  1800.798735
 149975    1183.500000   942.333333  1800.798735  2306.571429  1846.000000
 149976     720.333333  1800.798735  1800.798735          NaN  1800.798735
 149977    1800.798735  1800.798735  1800.798735  1800.798735  1800.798735
 149978    3462.000000  2250.000000  1800.798735  1978.000000  2594.388889
 149979            NaN  1800.798735          NaN          NaN          NaN
 149980            NaN  1800.798735  1800.798735          NaN          NaN
 149981    1402.666667  1416.000000          NaN          NaN          NaN
 149982    1800.798735  1800.798735  1974.000000  1800.798735  1800.798735
 149983    1800.798735  1800.798735          NaN  1908.851852          NaN
 149984            NaN          NaN  1800.798735  2825.888889          NaN
 149985            NaN          NaN          NaN          NaN          NaN
 149986     255.000000  5026.000000  1800.798735  1800.798735  1800.798735
 149987    1800.798735          NaN  1800.798735  1800.798735  1800.798735
 149988            NaN  2031.666667          NaN  1800.798735          NaN
 149989    1800.798735  1800.798735  1800.798735  1800.798735  1800.798735
 149990    1800.798735  1800.798735          NaN  3604.850000  1850.750000
 149991            NaN  1800.798735          NaN  1800.798735  1800.798735
 149992    1800.798735  1800.798735  1800.798735          NaN  1800.798735
 149993    1800.798735  2323.200000  2010.666667  1800.798735          NaN
 149994     847.000000  1691.000000   885.222222  2098.666667          NaN
 149995            NaN  1800.798735  1800.798735  1800.798735  2425.500000
 149996    1800.798735  1800.798735  1800.798735  1800.798735  1800.798735
 149997            NaN          NaN   964.250000  1800.798735          NaN
 149998            NaN  2321.000000  1800.798735   693.000000  2038.500000
 149999    1800.798735  1800.798735  1800.798735          NaN          NaN

                   5            6            7            8            9    \
 match_id
 50000     1879.833333   774.000000  3360.000000   812.000000  2866.916667
 50001             NaN   296.000000  1800.798735          NaN  1800.798735
 50002     1800.798735  1800.798735  1800.798735          NaN  1800.798735
 50003     1800.798735  1800.798735          NaN          NaN  1800.798735
 50004      521.000000  1800.798735  1858.500000  1821.736842  1800.798735
 50005      764.000000  2402.666667          NaN   645.666667  5786.000000
 50006     1800.798735  1800.798735          NaN  1800.798735   267.000000
 50007     2699.500000  1800.798735   525.000000          NaN  1800.798735
 50008     1591.818182  1800.798735  1658.000000          NaN  1319.111111
 50009     1800.798735  3763.000000  1108.400000          NaN  1527.000000
 50010     1637.000000  3524.333333  1344.500000  1800.798735          NaN
 50011     1770.000000  1800.798735  1298.000000  1800.798735  1032.000000
 50012             NaN  6886.600000  1528.250000  1625.500000  1800.798735
 50013     2046.350000   725.000000          NaN  1800.798735   837.000000
 50014     1800.798735  3172.000000  4342.750000  1800.798735  2094.545455
 50015     1800.798735  1800.798735          NaN  1800.798735  1800.798735
 50016             NaN  1800.798735  1800.798735          NaN          NaN
 50017     1800.798735  1800.798735          NaN  2183.500000          NaN
 50018             NaN  1800.798735  1595.000000  1800.798735  1800.798735
 50019     2197.142857  1352.500000  2420.600000  1800.798735  1800.798735
 50020     1800.798735  1800.798735  1800.798735  1003.750000          NaN
 50021     1800.798735  1800.798735  1800.798735  1626.909091  3294.714286
 50022     1800.798735          NaN  1869.000000   129.000000   714.000000
 50023     1689.000000  1270.285714          NaN  1168.000000  1800.798735
 50024      304.000000   281.000000          NaN          NaN          NaN
 50025     1800.798735  1918.545455          NaN   189.000000          NaN
 50026     2212.500000  2104.666667  1941.857143  3345.916667  1390.000000
 50027     1800.798735          NaN  1800.798735  3476.000000  1798.888889
 50028             NaN  3665.000000  1800.798735          NaN          NaN
 50029             NaN  1800.798735  1997.000000  1538.000000  3939.000000
 ...               ...          ...          ...          ...          ...
 149970            NaN          NaN          NaN   230.000000          NaN
 149971    1800.798735  1800.798735  1800.798735  1800.798735  1800.798735
 149972            NaN          NaN          NaN   842.000000   760.000000
 149973            NaN  1800.798735  1800.798735  3406.000000  4759.000000
 149974    2489.000000          NaN          NaN  2467.500000  2108.045455
 149975    5068.000000  1800.798735          NaN          NaN          NaN
 149976            NaN  1800.798735          NaN  1800.798735  1800.798735
 149977    2294.000000  4146.000000  3340.000000          NaN  2743.000000
 149978    1800.798735  1800.798735  1800.798735  1800.798735  1800.798735
 149979    1800.798735          NaN  1684.000000  1800.798735  1800.798735
 149980    1800.798735  1800.798735  1800.798735  1800.798735  1800.798735
 149981            NaN          NaN   506.000000          NaN          NaN
 149982            NaN          NaN  1329.000000  3044.000000  1800.798735
 149983    1800.798735  1800.798735  1800.798735          NaN  1800.798735
 149984    1800.798735  1745.000000  1800.798735    66.000000  1800.798735
 149985    1800.798735  1800.798735  1800.798735  1800.798735  1800.798735
 149986    1800.798735          NaN   421.000000  1709.857143  1368.000000
 149987            NaN          NaN  1800.798735          NaN          NaN
 149988     562.000000  2178.625000   902.000000  1800.798735  1800.798735
 149989            NaN  2709.333333   598.000000  4637.000000          NaN
 149990    1800.798735  1800.798735  4576.000000  1800.798735          NaN
 149991            NaN          NaN  2243.000000  1800.798735          NaN
 149992            NaN          NaN          NaN          NaN          NaN
 149993     847.000000  2296.666667  2662.000000  1813.777778  1810.250000
 149994     726.333333  2905.000000  2676.333333  1614.000000  1958.333333
 149995    1800.798735  1800.798735  1800.798735  1800.798735          NaN
 149996            NaN          NaN          NaN  1800.798735  1800.798735
 149997    1800.798735  1800.798735  1800.798735  1800.798735  1800.798735
 149998    1800.798735  1800.798735  1800.798735  1800.798735  1800.798735
 149999    1554.000000          NaN   476.000000   557.000000  3730.000000

              ...               110          111          112          113  \
 match_id     ...
 50000        ...       2814.500000          NaN          NaN   286.000000
 50001        ...        725.111111  1232.203666  1232.203666          NaN
 50002        ...        291.000000          NaN   816.090909  1807.000000
 50003        ...               NaN  1232.203666  1232.203666  1605.280702
 50004        ...       1232.203666   251.000000  1232.203666  1232.203666
 50005        ...       2938.000000  3400.000000   378.454545  2125.923077
 50006        ...       1232.203666     0.000000  1232.203666   477.500000
 50007        ...               NaN  1386.718750          NaN  1232.203666
 50008        ...       1675.500000  3329.666667  1232.203666    36.857143
 50009        ...       2179.000000    53.500000          NaN  5435.000000
 50010        ...        900.000000  1232.203666  1232.203666  1232.203666
 50011        ...         46.000000  1232.203666   701.000000  1445.000000
 50012        ...       1232.203666  1232.203666  1232.203666  1232.203666
 50013        ...               NaN  3312.000000  1504.000000  2465.000000
 50014        ...               NaN  1116.750000    29.500000   485.500000
 50015        ...       1232.203666  1232.203666   201.000000  1232.203666
 50016        ...       1232.203666  1232.203666  2901.666667   660.000000
 50017        ...       1232.203666  1543.357143  1232.203666  1232.203666
 50018        ...               NaN  1232.203666          NaN  1232.203666
 50019        ...       1232.203666  1232.203666  1232.203666          NaN
 50020        ...       1232.203666          NaN          NaN  1232.203666
 50021        ...       1232.203666  1232.203666          NaN          NaN
 50022        ...       1631.000000   337.666667  1260.666667  3228.000000
 50023        ...       1232.203666  1043.900000   755.250000  1232.203666
 50024        ...       1232.203666  1232.203666  1232.203666  2002.714286
 50025        ...       1232.203666  1232.203666  1232.203666  1232.203666
 50026        ...       1187.166667   773.636364  1232.203666  1232.203666
 50027        ...               NaN          NaN  1232.203666  1232.203666
 50028        ...               NaN  1309.285714  1232.203666          NaN
 50029        ...               NaN   738.000000          NaN          NaN
 ...          ...               ...          ...          ...          ...
 149970       ...       1808.666667  2666.625000  1232.203666  1518.000000
 149971       ...       1232.203666  1232.203666  1232.203666          NaN
 149972       ...        719.000000   324.000000  2509.000000  2575.800000
 149973       ...               NaN  1232.203666  1232.203666  1232.203666
 149974       ...       1232.203666  1232.203666  1232.203666  1232.203666
 149975       ...       2129.666667   452.666667  1232.203666  2166.547619
 149976       ...        364.333333  1232.203666  1232.203666          NaN
 149977       ...       1232.203666  1232.203666  1232.203666  1232.203666
 149978       ...       1617.333333   528.000000  1232.203666  1188.500000
 149979       ...               NaN  1232.203666          NaN          NaN
 149980       ...               NaN  1232.203666  1232.203666          NaN
 149981       ...        328.333333   603.000000          NaN          NaN
 149982       ...       1232.203666  1232.203666  3128.000000  1232.203666
 149983       ...       1232.203666  1232.203666          NaN  1091.148148
 149984       ...               NaN          NaN  1232.203666  1321.277778
 149985       ...               NaN          NaN          NaN          NaN
 149986       ...       1404.000000   930.000000  1232.203666  1232.203666
 149987       ...       1232.203666          NaN  1232.203666  1232.203666
 149988       ...               NaN   420.666667          NaN  1232.203666
 149989       ...       1232.203666  1232.203666  1232.203666  1232.203666
 149990       ...       1232.203666  1232.203666          NaN  3708.050000
 149991       ...               NaN  1232.203666          NaN  1232.203666
 149992       ...       1232.203666  1232.203666  1232.203666          NaN
 149993       ...       1232.203666  1469.400000   643.166667  1232.203666
 149994       ...       2915.250000   153.000000   372.888889     8.333333
 149995       ...               NaN  1232.203666  1232.203666  1232.203666
 149996       ...       1232.203666  1232.203666  1232.203666  1232.203666
 149997       ...               NaN          NaN  7908.000000  1232.203666
 149998       ...               NaN  1054.000000  1232.203666  2117.000000
 149999       ...       1232.203666  1232.203666  1232.203666          NaN

                   114          115          116          117          118  \
 match_id
 50000      177.500000   956.333333    57.500000   313.000000   960.000000
 50001     3282.000000          NaN  1679.500000  1232.203666          NaN
 50002     1232.203666  1232.203666  1232.203666  1232.203666          NaN
 50003      219.000000  1232.203666  1232.203666          NaN          NaN
 50004     1232.203666   345.000000  1232.203666  2256.000000  2468.947368
 50005     1232.203666   277.000000  3542.333333          NaN  1794.666667
 50006     1345.125000  1232.203666  1232.203666          NaN  1232.203666
 50007     1232.203666  1064.666667  1232.203666   192.333333          NaN
 50008             NaN  1189.136364  1232.203666  1025.000000          NaN
 50009     1090.516129  1232.203666  2371.500000   921.000000          NaN
 50010      796.000000  1318.500000  1806.000000   594.700000  1232.203666
 50011     1232.203666  3455.500000  1232.203666     0.000000  1232.203666
 50012             NaN          NaN  3183.800000  1926.500000  1463.000000
 50013      347.000000   936.050000    75.000000          NaN  1232.203666
 50014     2030.222222  1232.203666   487.500000  3251.000000  1232.203666
 50015     1232.203666  1232.203666  1232.203666          NaN  1232.203666
 50016             NaN          NaN  1232.203666  1232.203666          NaN
 50017     1232.203666  1232.203666  1232.203666          NaN  1290.000000
 50018     1301.200000          NaN  1232.203666  1714.500000  1232.203666
 50019     1232.203666  2050.952381   538.625000  2124.120000  1232.203666
 50020     1232.203666  1232.203666  1232.203666  1232.203666   379.250000
 50021             NaN  1232.203666  1232.203666  1232.203666  1664.545455
 50022     6486.000000  1232.203666          NaN  2212.500000   853.000000
 50023      725.500000   639.500000   740.857143          NaN  5071.000000
 50024      175.142857     0.000000  1397.000000          NaN          NaN
 50025      842.000000  1232.203666  1293.181818          NaN   299.000000
 50026     2764.069767  1590.166667  1382.000000   440.428571  2118.333333
 50027     1232.203666  1232.203666          NaN  1232.203666  2403.000000
 50028     1232.203666          NaN  3177.000000  1232.203666          NaN
 50029     1232.203666          NaN  1232.203666  1784.032258  2795.500000
 ...               ...          ...          ...          ...          ...
 149970       0.000000          NaN          NaN          NaN  1528.000000
 149971            NaN  1232.203666  1232.203666  1232.203666  1232.203666
 149972            NaN          NaN          NaN          NaN     0.000000
 149973    1232.203666          NaN  1232.203666  1232.203666  6184.000000
 149974    1232.203666  1307.000000          NaN          NaN  2286.500000
 149975    6144.750000  6367.000000  1232.203666          NaN          NaN
 149976    1232.203666          NaN  1232.203666          NaN  1232.203666
 149977    1232.203666   230.000000    97.000000   479.000000          NaN
 149978    2482.694444  1232.203666  1232.203666  1232.203666  1232.203666
 149979            NaN  1232.203666          NaN   324.000000  1232.203666
 149980            NaN  1232.203666  1232.203666  1232.203666  1232.203666
 149981            NaN          NaN          NaN    92.000000          NaN
 149982    1232.203666          NaN          NaN   275.000000  1963.333333
 149983            NaN  1232.203666  1232.203666  1232.203666          NaN
 149984            NaN  1232.203666  1994.000000  1232.203666   207.000000
 149985            NaN  1232.203666  1232.203666  1232.203666  1232.203666
 149986    1232.203666  1232.203666          NaN   900.000000   307.857143
 149987    1232.203666          NaN          NaN  1232.203666          NaN
 149988            NaN    27.000000  1301.000000  1130.500000  1232.203666
 149989    1232.203666          NaN  2890.666667   417.000000  3048.000000
 149990     442.875000  1232.203666  1232.203666  1955.000000  1232.203666
 149991    1232.203666          NaN          NaN  2651.500000  1232.203666
 149992    1232.203666          NaN          NaN          NaN          NaN
 149993            NaN  1477.500000  1842.500000  1758.500000  1713.666667
 149994            NaN  2262.666667  2251.000000  1917.333333  3216.000000
 149995    2233.000000  1232.203666  1232.203666  1232.203666  1232.203666
 149996    1232.203666          NaN          NaN          NaN  1232.203666
 149997            NaN  1232.203666  1232.203666  1232.203666  1232.203666
 149998     581.250000  1232.203666  1232.203666  1232.203666  1232.203666
 149999            NaN   275.000000          NaN   160.000000  1864.000000

                   119
 match_id
 50000     1356.916667
 50001     1232.203666
 50002     1232.203666
 50003     1232.203666
 50004     1232.203666
 50005     4889.000000
 50006        0.000000
 50007     1232.203666
 50008      297.777778
 50009      571.333333
 50010             NaN
 50011      240.000000
 50012     1232.203666
 50013      264.000000
 50014     1107.909091
 50015     1232.203666
 50016             NaN
 50017             NaN
 50018     1232.203666
 50019     1232.203666
 50020             NaN
 50021      891.714286
 50022     1745.000000
 50023     1232.203666
 50024             NaN
 50025             NaN
 50026      848.538462
 50027     2264.944444
 50028             NaN
 50029     3342.000000
 ...               ...
 149970            NaN
 149971    1232.203666
 149972     488.000000
 149973    1949.000000
 149974    1268.590909
 149975            NaN
 149976    1232.203666
 149977    1068.571429
 149978    1232.203666
 149979    1232.203666
 149980    1232.203666
 149981            NaN
 149982    1232.203666
 149983    1232.203666
 149984    1232.203666
 149985    1232.203666
 149986    3959.000000
 149987            NaN
 149988    1232.203666
 149989            NaN
 149990            NaN
 149991            NaN
 149992            NaN
 149993     571.750000
 149994    1228.333333

In [77]:
train_feat_group = train_feat_comp.groupby('match_id')
train_feats = train_feat_group.apply(unstack_simplify)

In [88]:
#use random forest to fit data
rf = ensemble.RandomForestClassifier(n_estimators=150, n_jobs=-1)
rf.fit(train_feats,train_labels) 


# this is a bad way to deal with missing values 
test_feats.replace(np.nan, 0, inplace=True)

test_probs = rf.predict_proba(test_feats)
test_preds = rf.predict(test_feats)

In [83]:
#array of win/loss for each match
print test_labels.values.ravel()

[0 1 0 ..., 1 1 0]

In [89]:
metrics.log_loss(test_labels.values.ravel(), test_probs[:,1])

0.76797726559665791

In [90]:
metrics.roc_auc_score(test_labels.values, test_probs[:,1])

0.50249720905462414

In [92]:
print(metrics.classification_report(test_labels.values, test_preds))

             precision    recall  f1-score   support

          0       0.48      0.46      0.47     48139
          1       0.52      0.54      0.53     51861

avg / total       0.50      0.50      0.50    100000