In [1]:
import pandas as pd

In [4]:
data_input = '/Users/momori/data/coding_interview1'
df = pd.read_csv(data_input)
df.head()

   enroll_code  student_id
0        10030       55000
1        10030       55804
2        10250       55804
3        10510       55000

In [70]:
df.groupby('enroll_code').count()

             student_id
enroll_code
10030                 2
10250                 1
10510                 1

In [7]:
#using no pandas
with open(data_input) as handle:
    data = handle.readlines()

['enroll_code,student_id\n',
 '10030,55000\n',
 '10030,55804\n',
 '10250,55804\n',
 '10510,55000\n']

In [8]:
data = data[1:]
data

['10030,55000\n', '10030,55804\n', '10250,55804\n', '10510,55000\n']

In [10]:
data2 = [i.split(',') for i in data]
data2

[['10030', '55000\n'],
 ['10030', '55804\n'],
 ['10250', '55804\n'],
 ['10510', '55000\n']]

In [13]:
data3 = []
for i in data2:
    data3.append(i[0])
data3

['10030', '10030', '10250', '10510']

In [14]:
count_dict = {}

for element in data3:
    if element not in count_dict:
        count_dict[element] = 1
    else:
        count_dict[element]+=1

count_dict

{'10030': 2, '10250': 1, '10510': 1}

## SQL part

select enroll_code, count(*) from coding_interview
       group by enroll_code

In [ ]:
'1, 1, 2, 3, 5, 8, 13'

In [21]:
def fibonacci(num_elements):
    if num_elements == 0:
        return []
    output = []
    output.append(1)
    if num_elements == 1:
        return output
    output.append(1)
    if num_elements == 2:
        return output
    
    for i in range(2, num_elements):
        '''
        try:
            previous = output[i-1]
        except
            precious=0
        try:
            previous2 = output[i-2]
        except:
            previous2=0
        
        '''
            output.append(output[i-1] + output[i-2])
    return output

for i in range(1, 10):
    print fibonacci(i)

[1]
[1, 1]
[1, 1, 2]
[1, 1, 2, 3]
[1, 1, 2, 3, 5]
[1, 1, 2, 3, 5, 8]
[1, 1, 2, 3, 5, 8, 13]
[1, 1, 2, 3, 5, 8, 13, 21]
[1, 1, 2, 3, 5, 8, 13, 21, 34]

In [7]:
def fibonacci(num_elements):
    if num_elements == 0:
        return []
    output = []
    output.append(1)

    for i in range(num_elements-1):
        if i == 0:
            output.append(1)
            continue
        previous = output[i]
        previous2 = output[i-1]


        output.append(previous+previous2)
    return output

In [8]:
for i in range(1, 10):
    print fibonacci(i), i

[1] 1
[1, 1] 2
[1, 1, 2] 3
[1, 1, 2, 3] 4
[1, 1, 2, 3, 5] 5
[1, 1, 2, 3, 5, 8] 6
[1, 1, 2, 3, 5, 8, 13] 7
[1, 1, 2, 3, 5, 8, 13, 21] 8
[1, 1, 2, 3, 5, 8, 13, 21, 34] 9