# Synergy Analysis

The goal of this notebook is to analyze pairs of heros and assess how much synergy is there.  Synergy will be defined primarily by win rate when a specific pair of heros are chosen in a match|

In [2]:
import pandas as pd
import seaborn as sbn
import psycopg2

%matplotlib inline

In [3]:
#progress bar widget https://github.com/alexanderkuk/log-progress
def log_progress(sequence, every=None, size=None, name='Items'):
    from ipywidgets import IntProgress, HTML, VBox
    from IPython.display import display

    is_iterator = False
    if size is None:
        try:
            size = len(sequence)
        except TypeError:
            is_iterator = True
    if size is not None:
        if every is None:
            if size <= 200:
                every = 1
            else:
                every = int(size / 200)     # every 0.5%
    else:
        assert every is not None, 'sequence is iterator, set every'

    if is_iterator:
        progress = IntProgress(min=0, max=1, value=1)
        progress.bar_style = 'info'
    else:
        progress = IntProgress(min=0, max=size, value=0)
    label = HTML()
    box = VBox(children=[label, progress])
    display(box)

    index = 0
    try:
        for index, record in enumerate(sequence, 1):
            if index == 1 or index % every == 0:
                if is_iterator:
                    label.value = '{name}: {index} / ?'.format(
                        name=name,
                        index=index
                    )
                else:
                    progress.value = index
                    label.value = u'{name}: {index} / {size}'.format(
                        name=name,
                        index=index,
                        size=size
                    )
            yield record
    except:
        progress.bar_style = 'danger'
        raise
    else:
        progress.bar_style = 'success'
        progress.value = index
        label.value = "{name}: {index}".format(
            name=name,
            index=str(index or '?')
        )

In [4]:
##Functinons
def unstack_simplify(df):
    return df.unstack().iloc[10:20].reset_index(drop=True)

In [5]:
#Postgres connection
hostname = 'localhost'
username = 'postgres'
password = ''
database = 'dota2_data'

In [6]:
#get data from db and store into df

myConnection = psycopg2.connect(host=hostname, user=username, password=password, dbname=database)
cur = myConnection.cursor()
matches_df = pd.read_sql_query("select * from matches", myConnection)
players_df = pd.read_sql_query("select match_id, hero_id, account_id, player_slot from player_matches", myConnection)
heros_df = pd.read_sql_query("select * from heroes", myConnection)

In [7]:
heros_df.head()

,id,name,localized_name,primary_attr,attack_type,roles
0,21,npc_dota_hero_windrunner,Windranger,int,Ranged,"[Carry, Support, Disabler, Escape, Nuker]"
1,26,npc_dota_hero_lion,Lion,int,Ranged,"[Support, Disabler, Nuker, Initiator]"
2,36,npc_dota_hero_necrolyte,Necrophos,int,Ranged,"[Carry, Nuker, Durable, Disabler]"
3,41,npc_dota_hero_faceless_void,Faceless Void,agi,Melee,"[Carry, Initiator, Disabler, Escape, Durable]"
4,46,npc_dota_hero_templar_assassin,Templar Assassin,agi,Ranged,"[Carry, Escape]"

In [8]:
players_df = players_df.sort_values(['match_id', 'player_slot'])
players_df.head(10)

        match_id  hero_id  account_id  player_slot
248394  17955123       31    89782335            0
248395  17955123       32    82262664            1
248396  17955123       29    92926005            2
248397  17955123       39    85815961            3
248398  17955123       52    93712171            4
248399  17955123        9    69325073          128
307657  17955123       79    58017868          129
307658  17955123       28    88704095          130
307659  17955123       21    86747757          131
307660  17955123       33    88792641          132

Some issues found with players_df. Some of the matches do not have 10 rows as expected, which was breaking the unstacking of the dataframe when processing the data. Will need to do some cleaning here

In [18]:
#Some matches do not have 10 rows
print players_df.shape
test = players_df.groupby(['match_id']).agg('count')
bad_matches = test[test['hero_id']!=10].index.values
bad_matches
players_df = players_df[~players_df['match_id'].isin(bad_matches)]
players_df.shape

(478060, 4)

(478060, 4)

In [19]:
players_df

          match_id  hero_id  account_id  player_slot
248394    17955123       31    89782335            0
248395    17955123       32    82262664            1
248396    17955123       29    92926005            2
248397    17955123       39    85815961            3
248398    17955123       52    93712171            4
248399    17955123        9    69325073          128
307657    17955123       79    58017868          129
307658    17955123       28    88704095          130
307659    17955123       21    86747757          131
307660    17955123       33    88792641          132
75258     17962237       53    89782335            0
75259     17962237       39    85815961            1
75272     17962237       29    92926005            2
75273     17962237       10    82262664            3
75276     17962237       79    93712171            4
75280     17962237       41    87177591          128
248407    17962237       55    85805514          129
248408    17962237       40    87276347          130
307651    17962237       74    30237211          131
307652    17962237       33    44463405          132
413828    17972480       33    87565571            0
413843    17972480       17    86924586            1
413844    17972480       21    87219396            2
413845    17972480       53    89309416            3
413849    17972480       20    89269794            4
413858    17972480       62    87177591          128
413859    17972480       74    30237211          129
413860    17972480       55    87276347          130
413861    17972480       65    85805514          131
413862    17972480       40    44463405          132
...            ...      ...         ...          ...
455524  3280219317       86    87382579            0
455545  3280219317       90   103735745            1
455555  3280219317       15    86725175            2
455513  3280219317      106    86700461            3
455561  3280219317      104    38628747            4
455682  3280219317       16    30237211          128
455686  3280219317       39   154715080          129
455692  3280219317       88    88933594          130
455706  3280219317       18   315657960          131
455737  3280219317       50   145550466          132
453448  3280290578       28    87382579            0
455896  3280290578       37   103735745            1
455884  3280290578        6    86725175            2
455936  3280290578       13    86700461            3
455937  3280290578       21    38628747            4
455953  3280290578       88    30237211          128
455976  3280290578      106   154715080          129
456014  3280290578      104    88933594          130
456025  3280290578       72   315657960          131
456026  3280290578       27   145550466          132
456076  3280349437       65    87382579            0
456087  3280349437       86   103735745            1
456124  3280349437       56    86725175            2
456125  3280349437       39    86700461            3
456169  3280349437      104    38628747            4
456040  3280349437       51    30237211          128
456211  3280349437       25   154715080          129
456212  3280349437       41    88933594          130
456224  3280349437       40   315657960          131
456225  3280349437       75   145550466          132

[478060 rows x 4 columns]

In [30]:
matches_df.dropna(axis=1, inplace=True)
matches_df.head()

     match_id radiant_win  start_time
0  1340936766        True  1427043504
1  1297534463        True  1425602112
2  1121216226        True  1419718875
3  1118709508        True  1419639325
4   962134110        True  1413381801

In [70]:
#Create one dataframe where for each match_id, there are 10 columns for the heros
#takes time so save df into csv

agg_df = players_df.head(20).groupby('match_id').apply(unstack_simplify)
agg_df.to_csv('synergy_analysis_agg_df.csv')
agg_df.reset_index(drop=True)

0     31
1     32
2     29
3     39
4     52
5      9
6     79
7     28
8     21
9     33
10    53
11    39
12    29
13    10
14    79
15    41
16    55
17    40
18    74
19    33
dtype: int64

In [119]:
players_df

          match_id  hero_id  account_id  player_slot
248394    17955123       31    89782335            0
248395    17955123       32    82262664            1
248396    17955123       29    92926005            2
248397    17955123       39    85815961            3
248398    17955123       52    93712171            4
248399    17955123        9    69325073          128
307657    17955123       79    58017868          129
307658    17955123       28    88704095          130
307659    17955123       21    86747757          131
307660    17955123       33    88792641          132
75258     17962237       53    89782335            0
75259     17962237       39    85815961            1
75272     17962237       29    92926005            2
75273     17962237       10    82262664            3
75276     17962237       79    93712171            4
75280     17962237       41    87177591          128
248407    17962237       55    85805514          129
248408    17962237       40    87276347          130
307651    17962237       74    30237211          131
307652    17962237       33    44463405          132
413828    17972480       33    87565571            0
413843    17972480       17    86924586            1
413844    17972480       21    87219396            2
413845    17972480       53    89309416            3
413849    17972480       20    89269794            4
413858    17972480       62    87177591          128
413859    17972480       74    30237211          129
413860    17972480       55    87276347          130
413861    17972480       65    85805514          131
413862    17972480       40    44463405          132
...            ...      ...         ...          ...
455524  3280219317       86    87382579            0
455545  3280219317       90   103735745            1
455555  3280219317       15    86725175            2
455513  3280219317      106    86700461            3
455561  3280219317      104    38628747            4
455682  3280219317       16    30237211          128
455686  3280219317       39   154715080          129
455692  3280219317       88    88933594          130
455706  3280219317       18   315657960          131
455737  3280219317       50   145550466          132
453448  3280290578       28    87382579            0
455896  3280290578       37   103735745            1
455884  3280290578        6    86725175            2
455936  3280290578       13    86700461            3
455937  3280290578       21    38628747            4
455953  3280290578       88    30237211          128
455976  3280290578      106   154715080          129
456014  3280290578      104    88933594          130
456025  3280290578       72   315657960          131
456026  3280290578       27   145550466          132
456076  3280349437       65    87382579            0
456087  3280349437       86   103735745            1
456124  3280349437       56    86725175            2
456125  3280349437       39    86700461            3
456169  3280349437      104    38628747            4
456040  3280349437       51    30237211          128
456211  3280349437       25   154715080          129
456212  3280349437       41    88933594          130
456224  3280349437       40   315657960          131
456225  3280349437       75   145550466          132

[478400 rows x 4 columns]

In [139]:
rows = []
columns = ['match_id','hero','a','b']
id = 0
#500k records, 50k distinct match_ids
for i in range(500000):
    row = [id, 'hero'+str(i+1), i+2, i+3]
    rows.append(row)
    if (i+1) % 10 == 0:# and i != 0 and i != 1:
        id += 1
df = pd.DataFrame(rows, columns=columns)
df

        match_id        hero       a       b
0              0       hero1       2       3
1              0       hero2       3       4
2              0       hero3       4       5
3              0       hero4       5       6
4              0       hero5       6       7
5              0       hero6       7       8
6              0       hero7       8       9
7              0       hero8       9      10
8              0       hero9      10      11
9              0      hero10      11      12
10             1      hero11      12      13
11             1      hero12      13      14
12             1      hero13      14      15
13             1      hero14      15      16
14             1      hero15      16      17
15             1      hero16      17      18
16             1      hero17      18      19
17             1      hero18      19      20
18             1      hero19      20      21
19             1      hero20      21      22
20             2      hero21      22      23
21             2      hero22      23      24
22             2      hero23      24      25
23             2      hero24      25      26
24             2      hero25      26      27
25             2      hero26      27      28
26             2      hero27      28      29
27             2      hero28      29      30
28             2      hero29      30      31
29             2      hero30      31      32
...          ...         ...     ...     ...
499970     49997  hero499971  499972  499973
499971     49997  hero499972  499973  499974
499972     49997  hero499973  499974  499975
499973     49997  hero499974  499975  499976
499974     49997  hero499975  499976  499977
499975     49997  hero499976  499977  499978
499976     49997  hero499977  499978  499979
499977     49997  hero499978  499979  499980
499978     49997  hero499979  499980  499981
499979     49997  hero499980  499981  499982
499980     49998  hero499981  499982  499983
499981     49998  hero499982  499983  499984
499982     49998  hero499983  499984  499985
499983     49998  hero499984  499985  499986
499984     49998  hero499985  499986  499987
499985     49998  hero499986  499987  499988
499986     49998  hero499987  499988  499989
499987     49998  hero499988  499989  499990
499988     49998  hero499989  499990  499991
499989     49998  hero499990  499991  499992
499990     49999  hero499991  499992  499993
499991     49999  hero499992  499993  499994
499992     49999  hero499993  499994  499995
499993     49999  hero499994  499995  499996
499994     49999  hero499995  499996  499997
499995     49999  hero499996  499997  499998
499996     49999  hero499997  499998  499999
499997     49999  hero499998  499999  500000
499998     49999  hero499999  500000  500001
499999     49999  hero500000  500001  500002

[500000 rows x 4 columns]

In [140]:
def ustack(df):
    return df.unstack().iloc[10:16].reset_index(drop=True)
df.groupby('match_id').apply(ustack)

,0,1,2,3,4,5
match_id,,,,,,
0,hero1,hero2,hero3,hero4,hero5,hero6
1,hero11,hero12,hero13,hero14,hero15,hero16
2,hero21,hero22,hero23,hero24,hero25,hero26
3,hero31,hero32,hero33,hero34,hero35,hero36
4,hero41,hero42,hero43,hero44,hero45,hero46
5,hero51,hero52,hero53,hero54,hero55,hero56
6,hero61,hero62,hero63,hero64,hero65,hero66
7,hero71,hero72,hero73,hero74,hero75,hero76
8,hero81,hero82,hero83,hero84,hero85,hero86
9,hero91,hero92,hero93,hero94,hero95,hero96
10,hero101,hero102,hero103,hero104,hero105,hero106
11,hero111,hero112,hero113,hero114,hero115,hero116
12,hero121,hero122,hero123,hero124,hero125,hero126
13,hero131,hero132,hero133,hero134,hero135,hero136
14,hero141,hero142,hero143,hero144,hero145,hero146
15,hero151,hero152,hero153,hero154,hero155,hero156
16,hero161,hero162,hero163,hero164,hero165,hero166
17,hero171,hero172,hero173,hero174,hero175,hero176
18,hero181,hero182,hero183,hero184,hero185,hero186
19,hero191,hero192,hero193,hero194,hero195,hero196
20,hero201,hero202,hero203,hero204,hero205,hero206
21,hero211,hero212,hero213,hero214,hero215,hero216
22,hero221,hero222,hero223,hero224,hero225,hero226
23,hero231,hero232,hero233,hero234,hero235,hero236
24,hero241,hero242,hero243,hero244,hero245,hero246
25,hero251,hero252,hero253,hero254,hero255,hero256
26,hero261,hero262,hero263,hero264,hero265,hero266
27,hero271,hero272,hero273,hero274,hero275,hero276
28,hero281,hero282,hero283,hero284,hero285,hero286
29,hero291,hero292,hero293,hero294,hero295,hero296
...,...,...,...,...,...,...
49970,hero499701,hero499702,hero499703,hero499704,hero499705,hero499706
49971,hero499711,hero499712,hero499713,hero499714,hero499715,hero499716
49972,hero499721,hero499722,hero499723,hero499724,hero499725,hero499726
49973,hero499731,hero499732,hero499733,hero499734,hero499735,hero499736
49974,hero499741,hero499742,hero499743,hero499744,hero499745,hero499746
49975,hero499751,hero499752,hero499753,hero499754,hero499755,hero499756
49976,hero499761,hero499762,hero499763,hero499764,hero499765,hero499766
49977,hero499771,hero499772,hero499773,hero499774,hero499775,hero499776
49978,hero499781,hero499782,hero499783,hero499784,hero499785,hero499786
49979,hero499791,hero499792,hero499793,hero499794,hero499795,hero499796
49980,hero499801,hero499802,hero499803,hero499804,hero499805,hero499806
49981,hero499811,hero499812,hero499813,hero499814,hero499815,hero499816
49982,hero499821,hero499822,hero499823,hero499824,hero499825,hero499826
49983,hero499831,hero499832,hero499833,hero499834,hero499835,hero499836
49984,hero499841,hero499842,hero499843,hero499844,hero499845,hero499846
49985,hero499851,hero499852,hero499853,hero499854,hero499855,hero499856
49986,hero499861,hero499862,hero499863,hero499864,hero499865,hero499866
49987,hero499871,hero499872,hero499873,hero499874,hero499875,hero499876
49988,hero499881,hero499882,hero499883,hero499884,hero499885,hero499886
49989,hero499891,hero499892,hero499893,hero499894,hero499895,hero499896
49990,hero499901,hero499902,hero499903,hero499904,hero499905,hero499906
49991,hero499911,hero499912,hero499913,hero499914,hero499915,hero499916
49992,hero499921,hero499922,hero499923,hero499924,hero499925,hero499926
49993,hero499931,hero499932,hero499933,hero499934,hero499935,hero499936
49994,hero499941,hero499942,hero499943,hero499944,hero499945,hero499946
49995,hero499951,hero499952,hero499953,hero499954,hero499955,hero499956
49996,hero499961,hero499962,hero499963,hero499964,hero499965,hero499966
49997,hero499971,hero499972,hero499973,hero499974,hero499975,hero499976
49998,hero499981,hero499982,hero499983,hero499984,hero499985,hero499986
49999,hero499991,hero499992,hero499993,hero499994,hero499995,hero499996

In [143]:
players_df.iloc[300000:400000]

          match_id  hero_id  account_id  player_slot
340139  1962916430      106   113705693            0
160620  1962916430       50   133084797            1
155505  1962916430       25    89166519            2
160982  1962916430      100   111291593            3
161585  1962916430       52   137193239            4
161830  1962916430       93   125581247          128
161853  1962916430      101   120569619          129
161845  1962916430       28   138885864          130
168247  1962916430       19   111189717          131
340996  1962916430        3   131043881          132
340151  1962947847       25   138154666            0
326185  1962947847       87   247607981            1
340974  1962947847       72    91644707            2
175764  1962947847       69   113051039            3
175765  1962947847       49   117587043            4
175767  1962947847       39   109758944          128
175772  1962947847      100   129692681          129
169301  1962947847        3   139937922          130
175773  1962947847       71   103940975          131
175774  1962947847       56   299084312          132
156824  1962994793       87   101857722            0
156825  1962994793       69   134679634            1
156826  1962994793       59    51684352            2
156827  1962994793      106   142754251            3
156839  1962994793        3   134903105            4
156840  1962994793      100   136186119          128
156868  1962994793       70    82327674          129
156869  1962994793       19   117281554          130
156872  1962994793       55   188674980          131
156874  1962994793       30    88521435          132
...            ...      ...         ...          ...
283146  2714235087       28    98131940            0
283953  2714235087        8    96429099            1
283954  2714235087       23   186615437            2
283955  2714235087       87   131380551            3
283973  2714235087       34   104963314            4
283974  2714235087       17   100471531          128
283975  2714235087        6    21289303          129
283979  2714235087       37    89603649          130
283980  2714235087       29    84772440          131
283158  2714235087       84    85417034          132
283418  2714265292       16   125576983            0
283419  2714265292       50   163587550            1
283420  2714265292       74   150695733            2
283421  2714265292       84   116852311            3
283422  2714265292        8   182325064            4
283423  2714265292       28   139937922          128
283424  2714265292       46   186977347          129
283425  2714265292      107   101695162          130
283426  2714265292      111   114239371          131
283427  2714265292       15   139280377          132
280684  2714275612       55    89246836            0
282235  2714275612       44   114031486            1
282236  2714275612      107   158847773            2
282237  2714275612       62   117990312            3
282008  2714275612       15   168028715            4
282238  2714275612       65   130027499          128
282239  2714275612       85   133705802          129
282240  2714275612        8   103275898          130
282241  2714275612       98   216067541          131
282242  2714275612      111   176996872          132

[100000 rows x 4 columns]

In [205]:
 #   return df.unstack().iloc[10:20].reset_index(drop=True)
    
    
def test(df):
    return df.unstack().iloc[10:16].reset_index(drop=True)
agg_df = players_df.iloc[338592:338600].groupby('match_id').apply(test)
agg_df.to_csv('synergy_analysis_agg_df.csv')

In [206]:
agg_df = pd.read_csv('synergy_analysis_agg_df.csv')
agg_df.head(20)

   2292934732  0        12
0  2292934732  1        53
1  2292934732  2        67
2  2292934732  3        62
3  2292934732  4  11550182
4  2292934732  5  53178236

In [225]:
def test(df):
    return df.unstack().iloc[10:16].reset_index(drop=True)
agg_df = players_df.iloc[0:50].groupby('match_id').apply(test)
agg_df.to_csv('synergy_analysis_agg_df.csv')
agg_df = pd.read_csv('synergy_analysis_agg_df.csv')
agg_df.head(20)

   match_id   0   1   2   3   4   5
0  17955123  31  32  29  39  52   9
1  17962237  53  39  29  10  79  41
2  17972480  33  17  21  53  20  62
3  18096178  33  40  74  60  38  52
4  18244878  31  16   9  74  33  52

In [229]:
def test(df):
    return df.unstack().iloc[10:16].reset_index(drop=True)
agg_df = players_df.iloc[338573:338590].groupby('match_id').apply(test)
agg_df.to_csv('synergy_analysis_agg_df.csv')
agg_df = pd.read_csv('synergy_analysis_agg_df.csv')
agg_df.head(20)

     match_id   0   1   2    3         4         5
0  2292850179  81  33  38   39        50       107
1  2292874498  86  38  74  111  92949094  95430068

In [226]:
players_df.iloc[338580:338590]

          match_id  hero_id  account_id  player_slot
400445  2292850179        3   123444610          130
400446  2292850179       13    86840554          131
400447  2292850179       53   123787524          132
399747  2292874498       66    92949094            0
399748  2292874498        8    95430068            1
399749  2292874498       43   107855479            2
399750  2292874498       86    86953414            3
399751  2292874498       38    27178898            4
399752  2292874498       74   116094746          128
399753  2292874498      111    26356855          129